.section-four {
  width: 100%;
  padding: 120px 0px 0px 0px;
}

.gallery-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.gallery-item {
  width: 610px;
  height: 450px;
  object-fit: cover;
}

.button-box {
  padding: 50px 0px 0px 0px;
  display: flex;
  justify-content: center;
}
.button {
  display: flex;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  width: 250px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
